{% extends 'estate/base.html' %}

{% block title %}
Home
{% endblock %}

{% block content %}
<h1>Home</h1>
    <p>
        <span>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad adipisci architecto assumenda atque cum
            cupiditate dicta doloribus eaque earum explicabo facere fuga fugit hic in inventore nam, pariatur quas
            repellat saepe sit! Autem cupiditate deleniti dolor error facilis fuga fugiat impedit iste iusto libero
            minus necessitatibus neque nihil obcaecati optio quas, quibusdam rerum sit totam unde vero vitae voluptate
            voluptatem. Adipisci aliquam animi consequuntur dolor eum fugiat, illo inventore ipsa ipsum magni,
            molestias necessitatibus officiis provident quia quos repudiandae sint tempora ullam vitae voluptate?
            Assumenda at consequatur labore maiores odit quibusdam recusandae sapiente tempore totam ut? Cum obcaecati
            omnis pariatur?</span><span>Aperiam assumenda beatae cumque doloremque ducimus, esse eveniet exercitationem
            magnam, minima necessitatibus nobis perferendis quas quis quisquam ullam vel veniam voluptates. A aliquam
            aliquid, amet assumenda debitis deleniti dicta dolores earum eligendi enim esse eveniet excepturi hic id ipsam
            labore laboriosam maiores minima nemo odio placeat quas totam voluptates? Ab accusamus aliquam aut corporis
            debitis delectus ea, fugiat hic id nostrum placeat quasi, quisquam reprehenderit ullam voluptatum. Ab adipisci
            at corporis doloribus facilis ipsum laudantium libero maxime nemo nihil nobis odio odit officiis pariatur
            possimus provident quam, quidem quis sunt tenetur unde ut veniam voluptas, voluptatibus voluptatum? Blanditiis
            , repellat, suscipit!
        </span>
    </p>
{% endblock %}